In [1]:
# ! pip install pyoso

In [2]:
from dotenv import load_dotenv
import os
import pandas as pd
from pyoso import Client

load_dotenv()

OSO_API_KEY = os.environ['OSO_API_KEY']
client = Client(api_key=OSO_API_KEY)

In [2]:
client.to_pandas("""
SELECT metric_name
FROM metrics_v0
WHERE metric_name LIKE '%_funding_%'
ORDER BY 1
""")

                                        metric_name
0      GITCOIN_DONATIONS_funding_awarded_biannually
1           GITCOIN_DONATIONS_funding_awarded_daily
2         GITCOIN_DONATIONS_funding_awarded_monthly
3   GITCOIN_DONATIONS_funding_awarded_over_all_time
4       GITCOIN_DONATIONS_funding_awarded_quarterly
5          GITCOIN_DONATIONS_funding_awarded_weekly
6          GITCOIN_DONATIONS_funding_awarded_yearly
7       GITCOIN_MATCHING_funding_awarded_biannually
8            GITCOIN_MATCHING_funding_awarded_daily
9          GITCOIN_MATCHING_funding_awarded_monthly
10   GITCOIN_MATCHING_funding_awarded_over_all_time
11       GITCOIN_MATCHING_funding_awarded_quarterly
12          GITCOIN_MATCHING_funding_awarded_weekly
13          GITCOIN_MATCHING_funding_awarded_yearly
14      OPEN_COLLECTIVE_funding_received_biannually
15           OPEN_COLLECTIVE_funding_received_daily
16         OPEN_COLLECTIVE_funding_received_monthly
17   OPEN_COLLECTIVE_funding_received_over_all_time
18       OPEN_COLLECTIVE_funding_received_quarterly
19          OPEN_COLLECTIVE_funding_received_weekly
20          OPEN_COLLECTIVE_funding_received_yearly
21           OSS_FUNDING_funding_awarded_biannually
22                OSS_FUNDING_funding_awarded_daily
23              OSS_FUNDING_funding_awarded_monthly
24        OSS_FUNDING_funding_awarded_over_all_time
25            OSS_FUNDING_funding_awarded_quarterly
26               OSS_FUNDING_funding_awarded_weekly
27               OSS_FUNDING_funding_awarded_yearly

In [3]:
client.to_pandas("""
SELECT
  m.metric_name,
  SUM(km.amount) AS total_amount_in_usd
FROM key_metrics_by_project_v0 AS km
JOIN metrics_v0 AS m ON km.metric_id = m.metric_id
WHERE m.metric_name LIKE '%_funding_%'
GROUP BY 1
ORDER BY 2 DESC
""")

                                       metric_name  total_amount_in_usd
0        OSS_FUNDING_funding_awarded_over_all_time     364887873.600968
1   GITCOIN_MATCHING_funding_awarded_over_all_time      13305117.158144
2  GITCOIN_DONATIONS_funding_awarded_over_all_time      11666103.711711

In [4]:
client.to_pandas("""
SELECT
  p.display_name AS project_display_name,
  SUM(km.amount) AS total_amount_in_usd
FROM key_metrics_by_project_v0 AS km
JOIN metrics_v0 AS m ON km.metric_id = m.metric_id
JOIN projects_v1 AS p ON km.project_id = p.project_id
WHERE m.metric_name LIKE '%_funding_awarded_over_all_time'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10
""")

  project_display_name  total_amount_in_usd
0                  GMX           21000000.0
1         MUX Protocol           10876479.0
2            Synthetix      10022628.074157
3   Perpetual Protocol       9287212.140718
4        Gains Network          7898396.135
5            Velodrome        7895037.76024
6              Camelot            5407500.0
7     Stargate Finance       5289458.865658
8      Vertex Protocol            5250000.0
9              Radiant            4991077.0

In [5]:
client.to_pandas("""
SELECT
  p.display_name AS project_display_name,
  SUM(km.amount) AS total_amount_in_usd
FROM key_metrics_by_project_v0 AS km
JOIN metrics_v0 AS m ON km.metric_id = m.metric_id
JOIN projects_v1 AS p ON km.project_id = p.project_id
WHERE m.metric_name LIKE '%_funding_awarded_over_all_time' AND m.metric_name LIKE 'GITCOIN_%'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10
""")

             project_display_name  total_amount_in_usd
0                         Gitcoin       1204537.005379
1                          Revoke        839092.066154
2                       DefiLlama        688150.252758
3                           rotki        612202.655884
4                            Safe        559315.966614
5                       ethers.js        553467.398145
6                             Hey        483399.257399
7                     Dark Forest         440813.42016
8                        JediSwap        415608.378052
9  Electronic Frontier Foundation        396257.698586

In [6]:
client.to_pandas("""
SELECT
  p.display_name AS project_display_name,
  SUM(tm.amount) AS total_amount_in_usd
FROM timeseries_metrics_by_project_v0 AS tm
JOIN metrics_v0 AS m ON tm.metric_id = m.metric_id
JOIN projects_v1 AS p ON tm.project_id = p.project_id
WHERE m.metric_name = 'GITCOIN_DONATIONS_funding_awarded_yearly'
AND tm.sample_date < DATE '2022-01-01'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10
""")

        project_display_name  total_amount_in_usd
0                    Gitcoin        797206.330376
1                Dark Forest        297517.115925
2            ZigZag Exchange        199746.433382
3                  ethers.js        129500.966707
4      Prysm Ethereum Client        128522.705766
5                      rotki        122666.927997
6                   ZeroPool        116795.642612
7  Lighthouse by Sigma Prime        114759.839844
8            The Tor Project        110669.738113
9                    Hardhat        110539.758225

In [23]:
client.to_pandas("""

""")

OsoHTTPError: 400 Client Error: Bad Request for url: https://www.opensource.observer/api/v1/sql - COLUMN_NOT_FOUND: line 3:7: Column 'project_id' cannot be resolved

In [7]:
client.to_pandas("""
SELECT COUNT(*) FROM stg_open_collective__deposits
LIMIT 5
""")

     _col0
0  4354602

In [4]:
query = """
SELECT
  project_id,
  project_name,
  artifact_namespace as github_owner,
  artifact_name as github_repo
FROM artifacts_by_project_v1
WHERE
  artifact_source = 'GITHUB'
  AND artifact_namespace LIKE '%uniswap%'
"""
df = client.to_pandas(query)
df.tail()

,project_id,project_name,github_owner,github_repo
87,pWEQHj4IsxU8lx2EDLJpphYaGAvw/yRps3vgTbVCXjQ=,uniswap,uniswapfoundation,uniswap-wormhole-bridge
88,pWEQHj4IsxU8lx2EDLJpphYaGAvw/yRps3vgTbVCXjQ=,uniswap,uniswap,smart-order-router
89,pWEQHj4IsxU8lx2EDLJpphYaGAvw/yRps3vgTbVCXjQ=,uniswap,uniswapfoundation,router-rebates
90,pWEQHj4IsxU8lx2EDLJpphYaGAvw/yRps3vgTbVCXjQ=,uniswap,uniswap,sybil-list
91,pWEQHj4IsxU8lx2EDLJpphYaGAvw/yRps3vgTbVCXjQ=,uniswap,uniswapfoundation,known-uniswap-forks

In [5]:
query = """
SELECT metric_name
FROM metrics_v0
WHERE
    metric_name LIKE '%GITHUB%'
    AND metric_name LIKE '%daily%'
ORDER BY 1
"""
client.to_pandas(query)

                          metric_name
0      GITHUB_active_developers_daily
1          GITHUB_closed_issues_daily
2               GITHUB_comments_daily
3                GITHUB_commits_daily
4           GITHUB_contributors_daily
5                  GITHUB_forks_daily
6   GITHUB_merged_pull_requests_daily
7          GITHUB_opened_issues_daily
8   GITHUB_opened_pull_requests_daily
9               GITHUB_releases_daily
10          GITHUB_repositories_daily
11                 GITHUB_stars_daily

In [6]:
query = """
SELECT
  tm.sample_date,
  m.metric_name,
  tm.amount
FROM timeseries_metrics_by_project_v0 AS tm
JOIN metrics_v0 AS m
  ON tm.metric_id = m.metric_id
JOIN projects_v1 AS p
  ON tm.project_id = p.project_id
WHERE 
  p.project_name = 'opensource-observer'
  AND m.metric_name IN (
    'GITHUB_stars_daily',
    'GITHUB_forks_daily',
    'GITHUB_commits_daily',
    'GITHUB_contributors_daily'
  )
ORDER BY tm.sample_date DESC
"""
df = client.to_pandas(query)
df.head()

  sample_date                metric_name  amount
0  2025-03-30  GITHUB_contributors_daily       2
1  2025-03-30       GITHUB_commits_daily       9
2  2025-03-29         GITHUB_stars_daily       1
3  2025-03-29       GITHUB_commits_daily       3
4  2025-03-29  GITHUB_contributors_daily       2

In [7]:
query = """
SELECT
  tm.sample_date,
  m.metric_name,
  tm.amount
FROM timeseries_metrics_by_project_v0 AS tm
JOIN metrics_v0 AS m
  ON tm.metric_id = m.metric_id
JOIN projects_v1 AS p
  ON tm.project_id = p.project_id
WHERE p.project_name = 'wevm'
ORDER BY sample_date DESC
"""
df = client.to_pandas(query)
df.head()

  sample_date                                metric_name  amount
0  2025-03-31         GITHUB_opened_issues_over_all_time   914.0
1  2025-03-31  GITHUB_merged_pull_requests_over_all_time  2018.0
2  2025-03-31              GITHUB_releases_over_all_time   950.0
3  2025-03-31  GITHUB_opened_pull_requests_over_all_time  2433.0
4  2025-03-31                 GITHUB_stars_over_all_time  5228.0

In [40]:
query = """
SELECT * FROM int_artifacts_by_project_in_ossd
WHERE artifact_type = 'OPEN_COLLECTIVE'
"""